#more_btn {
    margin: 30px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font: 14px OpenSans-Regular;
    color: #333;
    padding: 0;
    cursor: pointer;
}
.main.rating-pages .rating--result-filter .result-filter--content ul {
    height: auto !important;
}
@media (max-width: 991px) {
    #more_btn {
        margin-top: 10px;
    }
}