.main.cultural-education .category-filter .container-input .input-el label {
    background: #f2f2f2 !important;
    color: #101010 !important;
}

.main.cultural-education .category-filter .all-box label {
    background: #f2f2f2 !important;
    color: #101010 !important;
}

.main.cultural-education .category-filter .container-input .input-el.active label {
    background: #8c57fc !important;
    color: #fff !important;
}