.main.cultural-education .category-filter .container-input2 {
    display: flex;
    align-items: center;
    margin-top: 16px;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.main.cultural-education .category-filter .container-input2 .input-el input {
    opacity: 0;
    position: absolute;
    height: 100%;
}

.main.cultural-education .category-filter .container-input2 .input-el label {
    padding: 5px 22px;
    display: flex;
    align-items: center;
    font: 300 14px OpenSans-Regular;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.main.cultural-education .category-filter .container-input2 .input-el {
    position: relative;
    margin-right: 15px;
}

.main.cultural-education .category-filter .all-box label {
    background: #f2f2f2 !important;
    color: #101010 !important;
}

@media (max-width: 1024px) {
    .main.cultural-education .category-filter .container-input2 .input-el {
        margin-bottom: 5px;
    }
}