* {
	margin: 0;
	padding: 0;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media screen {
	html, body {
    overflow-x:hidden;
  }
}

@font-face {
  font-family: OpenSans-Regular;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/OpenSans-Regular.woff) format("woff");
}

@font-face {
  font-family: OpenSans-Bold;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/OpenSans-Bold.woff) format("woff");
}

@font-face {
  font-family: OpenSans-SemiBold;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/OpenSans-SemiBold.woff) format("woff");
}

@font-face {
  font-family: Lora-Regular;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Lora-Regular.woff) format("woff");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

main {
  min-height: calc(100vh - 546px);
}

/*
  header
*/

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: #FFFFFF;
  border-bottom: 1px solid #5CADFF;
  -webkit-box-shadow: -2px 10px 18px 3px rgba(34, 60, 80, 0.1);
  -moz-box-shadow: -2px 10px 18px 3px rgba(34, 60, 80, 0.1);
  box-shadow: -2px 10px 18px 3px rgba(34, 60, 80, 0.1);
}

/*
  nav
*/

.navigation {
  width: 1020px;
  height: 80px;
  display: flex;
  align-items: center;
}

/*
  logo
*/

.logo-wrap {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333333;
}

/*
  search
*/

.search {
  position: relative;
  margin-left: 30px;
}

.search__input {
  display: block;
  width: 175px;
  height: 30px;
  padding-left: 30px;
  box-sizing: border-box;
  font-family: OpenSans-Regular, serif;
  font-size: 14px;
  color: #333333;
  border-radius: 5px;
  border-style: none;
}

.search__icon {
  position: absolute;
  left: 5px;
  top: 8px;
}

/* search adaptive styles start */

@media(max-width: 768px) {
  .search {
    display: none;
  }
}

/*
  menu
*/

.main-menu {
  padding: 0;
  margin: 0 0 0 40px;
  list-style: none;
  display: flex;
  font-family: OpenSans-Regular, serif;
  font-size: 14px;
}

.navigation__item {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 36px;
  cursor: pointer;
  height: 80px;
}

.navigation__item:hover, .navigation__item a:hover {
  color: #5CADFF;
  transition: linear .1s;
}

.navigation__item:first-child {
  margin-left: 0;
}

.navigation__link:link, .navigation__link:visited, .navigation__link:hover, .navigation__link:active {
  color: #333333;
  text-decoration: none;
}

.keyboard_arrow_down__icon {
  font-weight: 300;
  margin: 5px 0 0 5px;
  font-size: 18px;
}

.sub-menu {
  display: none;
  flex-direction: column;
  padding: 30px;
  margin: 0;
  position: absolute;
  top: 80px;
  border: 1px solid #5CADFF;
  border-radius: 0 0 5px 5px;
  background-color: #ffffff;
  -webkit-box-shadow: -2px 10px 18px 3px rgba(34, 60, 80, 0.1);
  -moz-box-shadow: -2px 10px 18px 3px rgba(34, 60, 80, 0.1);
  box-shadow: -2px 10px 18px 3px rgba(34, 60, 80, 0.1);
}

.sub-menu--culture {
  min-width: 210px;
}

.sub-menu--mentoring {
  min-width: 230px;
}

.sub-menu__item {
  display: block;
  margin-bottom: 25px;
}

.sub-menu__item:last-child {
  margin-bottom: 0;
}

.sub-menu__link:link, .sub-menu__link:visited, .sub-menu__link:hover, .sub-menu__link:active {
  color: #333333;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sub-menu__link i {
  margin-right: 10px;
}

.navigation__item:hover .sub-menu {
  display: flex;
}

.menu__burger-open__icon {
  display: none;
}

/*
  header styles start
*/

@media(max-width: 1150px) {
  .navigation {
    width: 90%;
    justify-content: space-between;
  }

  .main-menu {
    display: none;
  }

  .menu__burger-open__icon {
    display: block;
    margin-left: 20px;
    cursor: pointer;
  }

  .burger__navigation {
    width: 380px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 24px 40px;
    background-color: #ffffff;
    border-left: 1px solid #5CADFF;
    box-sizing: border-box;
  }

  .burger__list {
    padding-top: 40px;
  }

  .burger__item {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 46px;
    color: #333333;
    padding-bottom: 15px;
    cursor: pointer;
  }

  .burger__link {
    text-decoration: none;
  }

  .burger__navigation .keyboard_arrow_down__icon,
  .burger__navigation .keyboard_arrow_up__icon {
    font-size: 28px;
  }

  .burger__submenu {
    padding-top: 20px;
  }

  .burger__submenu .burger__item {
    font-size: 20px;
    line-height: 32px;
    padding: 0;
  }

  .menu__burger-close__icon {
    position: absolute;
    right: 34px;
    top: 22px;
    font-size: 36px;
    cursor: pointer;
  }
}
@media(max-width: 768px) {
  .burger__navigation {
    width: 100%;
    border-left: none;
  }

  .logo-image, .burger__logo {
    width: 120px;
  }

  .navigation {
    height: 45px;
  }

  .burger__navigation {
    padding: 9px 30px;
  }

  .menu__burger-close__icon {
    font-size: 32px;
    top: 8px;
    right: 24px;
  }
}

@media(max-width: 1150px) {
  .map__h2:before, .news__h2:before, .poster__h2:after, .mentor__h2:after, .partners__h2:after {
    display: none;
  }
}

/*
  visually-impaired-menu-button
*/

.visually-impaired-menu-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 70px;
}

.school__icon {
  font-size: 20px;
}

/*
  visually-impaired-menu
*/

.visually-impaired-navigation {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -120px;
  background-color: #EDEDED;
  transition: all 300ms;
}

.vertical-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
}

.vertical-wrap:last-child {
  margin-right: 0;
}

.visually-impaired-title {
  font-family: Lora-Regular, serif;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 10px;
}

.visually-impaired-font {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: Lora-Regular, serif;
}

.visually-impaired-font__item {
  width: 40px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 1px solid #828282;
  cursor: pointer;
}

.visually-impaired-font__item:nth-child(even) {
  border-left: none;
  border-right: none;
}

.visually-impaired-font__item:first-child {
  border-radius: 5px 0 0 5px;
}

.visually-impaired-font__item:last-child {
  border-radius: 0 5px 5px 0;
}

.visually-impaired-font__item--active {
  box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
  background: none;
}

.f-s-14 {
  font-size: 14px;
}

.f-s-18 {
  font-size: 18px;
}

.f-s-22 {
  font-size: 22px;
}

.visually-impaired-color {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: Lora-Regular, serif;
}

.visually-impaired-color__item {
  width: 40px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-left: 1px solid #828282;
  border-top: 1px solid #828282;
  border-bottom: 1px solid #828282;
  cursor: pointer;
}

.visually-impaired-color__item:first-child {
  border-radius: 5px 0 0 5px;
}

.visually-impaired-color__item:last-child {
  border-radius: 0 5px 5px 0;
  border-right: 1px solid #828282;;
}


.visually-impaired-image {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: Lora-Regular, serif;
}

.visually-impaired-image__item {
  width: 90px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 1px solid #828282;
  cursor: pointer;
}

.visually-impaired-image__item--active {
  box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
  background: none;
}

.visually-impaired-image__item:first-child {
  border-radius: 5px 0 0 5px;
}

.visually-impaired-image__item:last-child {
  border-radius: 0 5px 5px 0;
  border-left: none;
}

.visually-impaired-navigation--show {
  margin-top: 81px;
}

/* visually-impaired adaptive styles start */

@media(max-width: 768px) {
  .visually-impaired-navigation--show {
    margin-top: 45px;
  }

  .visually-impaired-menu-button {
    display: none;
  }
}

/*
  account
*/

.account {
  position: relative;
  width: 150px;
  height: 80px;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-family: OpenSans-Regular, serif;
  font-size: 14px;
}

.account__item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.account__item:last-child {
  margin-bottom: 0;
}

.account__item--rate {
  position: relative;
  padding-right: 5px;
}

.account__image {
  margin-left: 10px;
}

.star_rate__icon {
  color: #E5A52C !important;
  position: absolute;
  left: -25px;
  font-size: 16px;
  width: 16px;
}

.sub-account {
  display: none;
  flex-direction: column;
  width: 150px;
  padding: 30px;
  margin: 0;
  position: absolute;
  top: 55px;
  left: -80px;
  z-index: 9;
  border: 1px solid #5CADFF;
  border-radius: 0 0 5px 5px;
  background-color: #ffffff;
  -webkit-box-shadow: -2px 10px 18px 3px rgba(34, 60, 80, 0.1);
  -moz-box-shadow: -2px 10px 18px 3px rgba(34, 60, 80, 0.1);
  box-shadow: -2px 10px 18px 3px rgba(34, 60, 80, 0.1);
}

.sub-account__item {
  margin-bottom: 10px;
}

.sub-account__item:last-child {
  margin-bottom: 0;
}

.sub-account__link:link, .sub-account__link:visited, .sub-account__link:hover, .sub-account__link:active {
  color: #333333;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sub-account__link i {
  margin-right: 5px;
}

.triangle {
  position: absolute;
  top: -12px;
  right: 20px;
  z-index: 10;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-left: 1px solid #5CADFF;
  border-top: 1px solid #5CADFF;
  -moz-transform: rotate(45deg);  /* Firefox */
  -o-transform: rotate(45deg);  /* Opera */
  -webkit-transform: rotate(45deg);  /* Safari y Chrome */
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476); /* IE */
}

.account:hover .sub-account {
  display: flex;
}

/* account adaptive styles start */

@media(max-width: 768px) {
  .account {
    flex-direction: row;
    align-items: center;
    width: 250px;
    height: 100%;
  }

  .account__item {
    margin-right: 50px;
  }

  .account__item:last-child {
    margin-right: 0;
  }
}
@media(max-width: 500px) {
  .account, .account__image {
    display: none;
  }
}

/*
  login
*/

.auth {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 127%;
  margin-left: 130px;
}

.auth__link {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.auth__name {
  margin-left: 10px;
}

.auth:hover {
  color: #5CADFF;
  transition: linear .1s;
}

/* login adaptive styles start */

@media(max-width: 768px) {
  .auth {
    margin-left: 40px;
  }
}

/*
  main
*/

.main {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
}

/* main adaptive styles start */

@media(max-width: 768px) {
  .main {
    padding-top: 90px;
  }
}

/*
  promo
*/

.promo {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 140px;
  position: relative;
}

.promo::before {
  content: "";
  position: absolute;
  top: 250px;
  right: -490px;
  width: 100%;
  height: 100%;
  background-image: url('../img/svg/promo-bg.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.promo__h1 {
  display: block;
  position: relative;
  font-family: OpenSans-Regular, serif;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 5px;
  border-bottom: 2px solid #8C57FC;
  margin-bottom: 20px;
}

.promo__h1::before {
  position: absolute;
  z-index: 1;
  left: -100px;
  top: -42px;
  content: '';
  width: 95px;
  height: 94px;
  background-image: url("../img/svg/promo-palette.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.promo__title {
  display: block;
  margin-bottom: 32px;
  font-family: OpenSans-Bold, serif;
  font-style: normal;
  font-size: 34px;
  line-height: 46px;
}

.promo__slider {
  position: relative;
  z-index: 1;
  width: 1024px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.promo__slider::before {
  content: '';
  position: absolute;
  left: -110px;
  bottom: 40px;
  width: 193px;
  height: 19px;
  background-image: url("../img/svg/promo-line.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.promo__screen {
  position: relative;
  z-index: 1;
  width: 672px;
  height: 490px;
  background-image: url("../img/screen.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.promo__screen::after {
  content: '';
  position: absolute;
  right: -55px;
  bottom: 110px;
  z-index: 1;
  width: 81px;
  height: 79px;
  background-image: url("../img/svg/promo-smile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.promo__title--slider {
  position: relative;
  margin-top: -80px;
  z-index: 1;
  display: block;
  font-family: OpenSans-Bold, serif;
  font-style: normal;
  font-size: 34px;
  line-height: 46px;
  width: 320px;
}

.promo__title--slider::after {
  content: '';
  position: absolute;
  right: 0;
  top: -90px;
  z-index: 0;
  width: 54px;
  height: 69px;
  background-image: url("../img/svg/promo-harp.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* promo adaptive styles start */

@media(max-width: 1150px) {
  .promo {
    margin-bottom: 70px;
  }

  .promo__slider {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    position: relative;
    padding-bottom: 90px;
  }

  .promo__slider:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 15%;
    height: 1px;
    width: 70%;
    background: linear-gradient(-10deg, rgba(64, 0, 175, 0) -2.28%, #8C57FC 48.75%, rgba(64, 0, 175, 0) 100.85%);
  }

  .promo__title {
    text-align: center;
  }

  .promo__screen::after {
    left: -120px;
    top: 80px;
  }

  .promo__slider:before {
    bottom: 210px;
    left: -80px;
  }

  .promo__title--slider {
    margin-top: 50px;
    width: 90%;
  }

  .promo__title--slider:after {
    top: -200px;
    right: -90px;
  }
}
@media(max-width: 768px) {
  .promo {
    padding: 20px 10px;
  }

  .promo__screen {
    width: 472px;
    height: 350px;
  }

  .promo__slider:before {
    bottom: 190px;
  }

  .promo__h1 {
    font-size: 16px;
  }

  .promo__h1:before {
    width: 70px;
    height: 70px;
    top: -30px;
    left: -80px;
  }

  .promo__title, .promo__title--slider {
    font-size: 24px;
    line-height: 34px;
  }
}
@media(max-width: 550px) {
  .promo__slider:before {
    bottom: 180px;
  }

  .promo__screen {
    width: 270px;
    height: 200px;
  }

  .promo__h1 {
    font-size: 14px;
  }

  .promo__title--slider {
    font-size: 20px;
    line-height: 26px;
  }
}

/*
  map
*/

.map {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 135px;
}

h2 {
  display: block;
  position: relative;
  font-family: OpenSans-Bold, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 46px;
}

.map__h2::before {
  position: absolute;
  left: -440px;
  bottom: 0;
  content: '';
  width: 420px;
  height: 60px;
  background-image: url("../img/purple.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.map h2 {
  margin-bottom: 80px;
}

.map__info {
  padding: 0;
  margin: 0 0 40px 0;
  list-style: none;
  display: flex;
}

.map__info-item {
  padding-top: 100px;
  margin-right: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: OpenSans-Regular, serif;
  font-size: 18px;
}

.map__info-item:last-child {
  margin-right: 0;
}

.map__info-item--school {
  background-image: url("../img/svg/map-house.svg");
  background-repeat: no-repeat;
  background-position: center top;
}

.map__info-item--schoolboy {
  background-image: url("../img/svg/map-scholar.svg");
  background-repeat: no-repeat;
  background-position: center top;
}

.map__info-item--region {
  background-image: url("../img/svg/map-hand.svg");
  background-repeat: no-repeat;
  background-position: center top;
}

.map__info-item-count {
  font-family: OpenSans-Bold, serif;
  font-size: 34px;
  line-height: 46px;
}

/* map adaptive styles start */

@media(max-width: 1150px) {
  .map {
    margin-bottom: 70px;
  }

  .interactive-map {
    width: 100%;
    padding-bottom: 70px;
  }
}
@media(max-width: 768px) {
  .map {
    padding: 20px 10px;
  }

  .map__info {
    width: 100%;
    justify-content: center;
    margin: 0 0 60px 0;
  }

  .map__info-item {
    font-size: 14px;
    margin-right: 80px;
  }
  
  .map h2 {
    margin-bottom: 60px;
    text-align: center;
  }

  .map__h2, .map__info-item-count {
    font-size: 24px;
    line-height: 34px;
  }
}
@media(max-width: 550px) {
  .map h2 {
    max-width: 90%;
  }
  
  .map__info-item-count {
    font-size: 20px;
    line-height: 26px;
  }

  .map__info-item {
    font-size: 12px;
    height: 20px;
    margin-right: 50px;
  }
}
@media(max-width: 400px) {
  .map__info-item {
    margin-right: 30px;
  }
}

/*
  partners
*/

.partners {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.partners h2 {
  margin-bottom: 60px;
}

.partners__h2::after {
  position: absolute;
  left: -650px;
  bottom: -5px;
  content: '';
  width: 610px;
  height: 60px;
  background-image: url("../img/yellow.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.partners-list {
  width: 1100px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.partners-list__item {
  margin-left: 45px;
}

.partners-list__item:last-child {
  margin-left: 0;
}

/* partners adaptive styles start */

@media(max-width: 1150px) {
  .partners {
    margin-top: 70px;
  }
  
  .partners-list {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .partners-list__item {
    width: 28%;
    margin-left: 30px;
  }

  .partners-list__item:nth-child(n+4) {
    margin-left: 0;
  }

  .partners-list__item img {
    width: 100%;
  }
}
@media(max-width: 768px) {
  .partners-list {
    width: 90%;
  }
  .partners__h2 {
    font-size: 24px;
    line-height: 34px;
  }

  .partners-list__item {
    width: 50%;
    margin-left: 30px;
  }

  .partners-list__item:first-child,
  .partners-list__item:nth-child(n+2) {
    margin-left: 0;
  }
}
@media(max-width: 550px) {
  .partners-list {
    width: 100%;
  }
}

/*
  last news
*/

.last-news {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 165px;
}

.last-news h2 {
  margin-bottom: 68px;
}

.news__h2::before {
  position: absolute;
  right: -563px;
  bottom: 0;
  content: '';
  width: 524px;
  height: 60px;
  background-image: url("../img/blue.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.news-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.news-list__item {
  position: relative;
  margin-right: 32px;
  padding: 8px;
  width: 310px;
}

.news-list__item--purple::before {
  position: absolute;
  top:0;
  left: 0;
  z-index: 1;
  content: '';
  width: 318px;
  height: 318px;
  border-radius: 5px;
  background-image: url("../img/purple-squre.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
}

.news-list__item--blue::before {
  position: absolute;
  top:0;
  left: 0;
  z-index: 1;
  content: '';
  width: 318px;
  height: 318px;
  border-radius: 5px;
  background-image: url("../img/blue-squre.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
}

.news-list__item--yellow:before {
  position: absolute;
  top:0;
  left: 0;
  z-index: 1;
  content: '';
  width: 318px;
  height: 318px;
  border-radius: 5px;
  background-image: url("../img/yellow-squre.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
}

.news-list__item:last-child {
  margin-right: 0;
}

.news-list__image {
  position: relative;
  z-index: 2;
  display: block;
  margin-bottom: 20px;
}

.news-list__date {
  display: block;
  text-align: right;
  margin-bottom: 10px;
  margin-right: -8px;
  font-family: OpenSans-Regular, serif;
  font-size: 14px;
}

.news-list__description {
  font-family: OpenSans-Regular, serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
  margin-bottom: 10px;
}

.news-list__link:link, .news-list__link:visited, .news-list__link:hover, .news-list__link:active {
  text-decoration: none;
  font-family: OpenSans-Regular, serif;
  font-size: 14px;
}

.news-list__link {
  display: flex;
  align-items: center;
}

.news-list__link--purple {
  color: #8C57FC;
}

.news-list__link--blue {
  color: #5CADFF;
}

.news-list__link--yellow {
  color: #E5A52C;
}

.keyboard_arrow_right__icon {
  font-size: 18px;
}

/* news adaptive styles start */

@media(max-width: 1150px) {
  .last-news {
    margin-bottom: 70px;
  }

  .news-list {
    padding-bottom: 70px;
  }
}
@media(max-width: 1050px) {
  .news-list__item {
    width: 30%;
  }

  .news-list__image {
    width: 100%;
  }

  .news-list__item--purple::before,
  .news-list__item--blue::before,
  .news-list__item--yellow::before {
    width: 100%;
  }

  .news-list__date {
    font-size: 12px;
  }
  
  .news-list__description {
    font-size: 18px;
    line-height: 24px;
  }
}
@media(max-width: 768px) {
  .news__h2 {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 60px;
  }

  .news-list__description {
    font-size: 16px;
    line-height: 20px;
  }
}
@media(max-width: 620px) {
  .news-list__description {
    font-size: 14px;
    line-height: 18px;
  }

  .news-list__link:link, .news-list__link:visited, 
  .news-list__link:hover, .news-list__link:active {
    font-size: 12px;
  }
}
@media(max-width: 550px) {
  .news-list {
    justify-content: center;
  }

  .news-list__item {
    width: 50%;
  }

  .news-list__item--yellow {
    display: none;
  }

  .news-list__item--blue {
    margin-right: 0;
  }

  .news-list__date {
    font-size: 10px;
  }

  .news-list__description {
    font-size: 12px;
    line-height: 16px;
  }
}

/*
  translation
*/

.translation {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 235px;
  position: relative;
}

.translation::before {
  content: "";
  position: absolute;
  top: -40px;
  left: -190px;
  width: 1440px;
  height: 892px;
  background-image: url('../img/svg/translation-bg.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.translation h2 {
  margin-bottom: 60px;
  color: #ffffff;
  background-color: #F1795C;
  padding: 12px 32px;
  border-radius: 5px;
}

/* .translation__h2::after {
  position: absolute;
  right: -600px;
  bottom: -5px;
  content: '';
  width: 579px;
  height: 60px;
  background-image: url("../img/red.png");
  background-repeat: no-repeat;
  background-size: cover;
} */

.translation-area {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.translation-title {
  display: block;
  font-family: OpenSans-Bold, serif;
  font-size: 24px;
  line-height: 130%;
  padding: 0 10px 20px 0;
  box-sizing: border-box;
}

.video__wrapper {
  min-width: 1024px;
  max-width: 1024px;
  position: relative;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.video__item {
  padding-top: 56.25%;
}

.video__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* translation adaptive styles start */

@media(max-width: 1150px) {
  .translation {
    margin-bottom: 70px;
  }
  .video__wrapper {
    max-width: 850px;
    min-width: 850px;
  }

  .translation-title {
    font-size: 20px;
    line-height: 120%;
  }
}
@media(max-width: 950px) {
  .translation-title {
    padding: 0 0 20px 0;
  }

  .video__wrapper {
    max-width: 750px;
    min-width: 750px;
  }
}
@media(max-width: 850px) {
  .translation-title {
    font-size: 18px;
  }

  .video__wrapper {
    max-width: 650px;
    min-width: 650px;
  }
}
@media(max-width: 768px) {
  .translation__h2 {
    font-size: 24px;
    line-height: 34px;
  }

  .translation h2 {
    padding: 8px 20px;
  }

  .translation-title {
    font-size: 16px;
  }

  .video__wrapper {
    max-width: 550px;
    min-width: 550px;
  }
}
@media(max-width: 650px) {
  .video__wrapper {
    max-width: 450px;
    min-width: 450px;
  }
}
@media(max-width: 550px) {
  .translation-title {
    font-size: 14px;
    padding: 0 0 10px 0;
  }

  .video__wrapper {
    max-width: 400px;
    min-width: 400px;
  }
}
@media(max-width: 450px) {
  .video__wrapper {
    max-width: 320px;
    min-width: 320px;
  }

  .translation-title {
    margin: 0 10px;
  }
}

/*
  poster
*/

.poster {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 175px;
}

.poster h2 {
  margin-bottom: 75px;
}

.poster__h2::after {
  position: absolute;
  left: -655px;
  bottom: -5px;
  content: '';
  width: 635px;
  height: 60px;
  background-image: url("../img/poster.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.events {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.event__item {
  position: relative;
  width: 320px;
  margin-right: 32px;
}

.event__item:last-child {
  margin-right: 0;
}

.events__date {
  display: block;
  padding: 10px 10px 0 10px;
  text-align: center;
  box-sizing: border-box;
  width: 80px;
  height: 71px;
  background-image: url("../img/rectangle.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 20px;
  top:-5px;
  font-family: OpenSans-Regular, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
}

.events__image {
  display: block;
  width: 320px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.event__link:link, .event__link:visited, .event__link:hover, .event__link:active {
  font-family: OpenSans-Bold, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  text-decoration: none;
  color: #000000;
}

/* poster adaptive styles start */

@media(max-width: 1150px) {
  .poster {
    margin-bottom: 70px;
  }

  .events {
    padding-bottom: 70px;
  }

  .events__image, .event__item {
    width: 100%;
  }

  .event__link:link, .event__link:visited, 
  .event__link:hover, .event__link:active {
    font-size: 20px;
  }
}
@media(max-width: 768px) {
  .poster__h2 {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 60px;
  }

  .events__date {
    font-size: 12px;
    line-height: 17px;
    width: 70px;
    height: 61px;
    left: 10px;
  }

  .event__link:link, .event__link:visited, 
  .event__link:hover, .event__link:active {
    font-size: 16px;
  }
}
@media(max-width: 550px) {
  .events {
    justify-content: center;
  }

  .event__item {
    margin-right: 20px;
  }

  .event__item:nth-child(2) {
    margin-right: 0;
  }

  .event__item:last-child {
    display: none;
  }

  .event__link:link, .event__link:visited, 
  .event__link:hover, .event__link:active {
    font-size: 14px;
  }
}

/*
  mentor
*/

.mentor {
  max-width: 80%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 160px;
}

.mentor h2 {
  margin-bottom: 70px;
}

.mentor__h2::after {
  position: absolute;
  right: -610px;
  bottom: -5px;
  content: '';
  width: 591px;
  height: 60px;
  background-image: url("../img/mentor.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.mentors-list {
  padding: 0;
  list-style: none;
  width: 75%;
}

.mentors-list__item {
  margin-right: 132px;
  width: 220px;
}

.mentors-list__image-wrap {
  box-sizing: border-box;
  width: 220px;
  height: 220px;
  padding: 8px;
  border-radius: 50%;
  overflow: hidden;
  background: linear-gradient(105deg, #8e58f9, #ee7860);
  margin-bottom: 20px;
}

.mentors-list__image {
  display: block;
  width: 100%;
  border-radius: 50%;
}

.mentors-list__info {
  padding: 0;
  margin: 0;
  display: block;
  width: 220px;
}

.mentors-list__name {
  display: block;
  text-align: center;
  font-family: OpenSans-Bold, serif;
  font-size: 24px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 5px;
}

.mentors-list__address {
  position: relative;
  margin-left: 14px;
  display: block;
  text-align: center;
  font-family: OpenSans-Regular, serif;
  font-style: normal;
  font-size: 18px;
  line-height: 120%;
  color: #000000;
}

.mentors-list__address::before {
  position: absolute;
  left: -14px;
  top: 0;
  content: '';
  width: 12px;
  height: 18px;
  background-image: url("../img/svg/map-place.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.question-answer-list {
  padding: 0;
  margin: 107px 0 0 0;
  list-style: none;
  width: 1024px;
}

.question-answer__item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 60px;
}

.question-answer__item:last-child {
  margin-bottom: 0;
}

.question-answer__image-wrap {
  width: 140px;
  height: 140px;
  padding: 5px;
  border-radius: 50%;
  overflow: hidden;
  background: linear-gradient(105deg, #8e58f9, #ee7860);
  margin-bottom: 20px;
  margin-right: 30px;
  margin-top: 95px;
}

.question-answer__image {
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.question-answer-list__dialog {
  width: 850px;
}

.question-answer-list__question {
  display: block;
  font-family: OpenSans-Bold, serif;
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 32px;
}

.question-answer-list__answer-text-wrap {
  position: relative;
  display: block;
  border: 1px solid #5CADFF;
  padding: 25px 28px 50px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.question-answer-list__answer-text-wrap::before {
  position: absolute;
  left: -10px;
  top: 64px;
  content: '';
  width: 20px;
  height: 20px;
  border-left: 1px solid #5CADFF;
  border-top: 1px solid #5CADFF;
  -moz-transform: rotate(-45deg);  /* Firefox */
  -o-transform: rotate(-45deg);  /* Opera */
  -webkit-transform: rotate(-45deg);  /* Safari y Chrome */
  background: #ffffff;
}

.question-answer-list__answer-mentor-name {
  display: block;
  font-family: OpenSans-Regular, serif;
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 5px;
}

.question-answer-list__answer-text-mentor-address {
  position: relative;
  display: block;
  font-family: OpenSans-Regular, serif;
  font-size: 14px;
  line-height: 127%;
  margin-bottom: 30px;
}

.question-answer-list__answer-text-mentor-address::after {
  position: absolute;
  bottom: -15px;
  content: '';
  display: block;
  width: 320px;
  height: 1px;
  background-color: #8C57FC;
}

.question-answer-list__answer-text {
  font-family: OpenSans-Regular, serif;
  font-size: 18px;
  line-height: 120%;
}

/* mentor adaptive styles start */

@media(max-width: 1250px) {
  .mentors-list__image-wrap {
    width: 200px;
    height: 200px;
  }

  .mentors-list {
    width: 90%;
  }

  .mentors-list__item {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
}
@media(max-width: 1150px) {
  .mentor {
    margin-bottom: 70px;
  }

  .question-answer-list {
    padding-bottom: 70px;
  }

  .mentors-list__image-wrap {
    width: 180px;
    height: 180px;
  }

  .mentors-list__name {
    font-size: 20px;
  }

  .mentors-list__address {
    font-size: 14px;
    line-height: 20px;
  }

  .mentors-list__address:before {
    left: 0;
  }

  .question-answer-list__question {
    font-size: 24px;
    line-height: 34px;
  }
}
@media(max-width: 1050px) {
  .mentor, .question-answer-list {
    max-width: 100%;
  }

  .question-answer__image-wrap {
    width: 100px;
    height: 100px;
  }

  .question-answer__image {
    width: 100%;
    height: 100%;
  }

  .question-answer-list__dialog {
    max-width: 85%;
  }
}
@media(max-width: 950px) {
  .question-answer-list__dialog {
    max-width: 80%;
  }

  .question-answer-list__question {
    font-size: 20px;
    line-height: 26px;
  }

  .question-answer-list__answer-mentor-name,
  .question-answer-list__answer-text {
    font-size: 16px;
  }

  .question-answer-list__answer-text-mentor-address {
    font-size: 12px;
  }
}
@media(max-width: 768px) {
  .mentor__h2 {
    font-size: 24px;
    line-height: 34px;
  }  

  .question-answer-list__question {
    font-size: 18px;
    line-height: 24px;
  }
  
  .mentors-list__image-wrap {
    width: 150px;
    height: 150px;
  }

  .mentors-list__name {
    font-size: 16px;
  }

  .mentors-list__address {
    font-size: 10px;
  }

  .mentors-list__address:before {
    left: 20px;
  }

  .question-answer-list__answer-text-mentor-address::after {
    width: 180px;
  }

  .question-answer__image-wrap {
    width: 80px;
    height: 80px;
  }

  .question-answer-list__dialog {
    max-width: 75%;
  }
}
@media(max-width: 660px) {
  .question-answer__image-wrap {
   margin-top: 115px;
  }
}
@media(max-width: 550px) {
  .question-answer__image-wrap {
    display: none;
  }

  .question-answer-list__dialog {
    max-width: 100%;
  }
  
  .question-answer-list__answer-text-wrap::before {
    display: none;
  }
}

/*
  login
*/

.login__wrapper, .login__form input, 
.form__button, .tab__button {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
}

.login__wrapper {
  font-size: 14px;
  line-height: 127%;
  /* identical to box height, or 18px */
  text-align: center;
}

.login__wrapper a {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: #333333;
}

.login__wrapper a:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 1px;
  background-color: #333333;
}

.form__link:after {
  width: 180px;
  left: calc(50% - 90px);
}

.login__link:after {
  width: 90px;
  left: calc(50% - 45px);
}

.form__link:hover, .login__link:hover {
  color: #5CADFF;
  transition: linear .1s;
}

.form__link:hover:after, .login__link:hover:after {
  background-color: #5CADFF;
}

.login__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */
}

.login__form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 35px 0 10px;
  position: relative;
}

.login__form input {
  font-size: 14px;
  line-height: 127%;
  /* or 18px */

  min-width: 250px;
  border: 0.5px solid #8C57FC;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 6px 10px 6px 35px;
}

.login__form .input__login {
  margin-bottom: 25px;
}

.input__image {
  position: absolute;
  left: 20px;
}

.input__image.image-login {
  top: 7px;
}

.input__image.image-password {
  top: 65px;
}

.login__form .input__password {
  margin-bottom: 10px;
}

.form__button, .tab__button {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;

  background: #8C57FC;
  color: #ffffff;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;

  min-width: 144px;
  padding: 8px;
  margin: 23px auto 0;
}

.form__button:hover, .tab__button:hover {
  background-color: #5CADFF;
  transition: linear .2s;
}

.login__other {
  margin-top: 35px;
}

.login__socials {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 8px;
}

.socials__image {
  border-radius: 5px;
  margin-right: -2px;
}

.socials__image:hover {
  transform: scale(1.1, 1.1);
  transition: linear .25s;
}

/*
  recover
*/

.recover__wrapper {
  text-align: center;
}

.recover__title, .recover__text, 
.recover__form, .recover__form input {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
}

.recover__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */
}

.recover__text {
  font-size: 14px;
  line-height: 22px;
  margin: 35px auto 0;
  max-width: 520px;
}

.recover__form {
  font-size: 18px;
  line-height: 120%;
  /* or 22px */

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 25px 60px 0 0;
  position: relative;
}

.recover__form input, .tab__form input, .tab__form select {
  font-size: 14px;
  line-height: 127%;
  /* or 18px */

  min-width: 320px;
  padding: 9px 10px;
  background: #F2F2F2;
  border: 0.5px solid #8C57FC;
  box-sizing: border-box;
  border-radius: 5px;
  margin-left: 20px;
}

.recover__form .form__button {
  margin-left: calc(50% - 40px);
}

/* recover adaptive styles start */

@media(max-width: 768px) {
  .recover__form {
    margin: 25px 0 0 0;
  }

  .recover__form .form__input {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
  }

  .recover__form input {
    margin-top: 10px;
    margin-left: 0;
  }

  .recover__form .form__button {
    margin: 23px auto 0;
  }
}
@media(max-width: 550px) {
  .recover__wrapper {
    margin: 0 20px;
  }

  .recover__text {
    max-width: 90%;
  }
}
@media(max-width: 400px) {
  .recover__form .form__input {
    margin: 0;
  }

  .recover__form input {
    min-width: 100%;
  }
}

/*
  signup
*/

.signup__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.signup__title, .tab__step, 
.form__input label, .form__note, 
.tab__title, .interest__item {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
}

.signup__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
}

.signup__tab {
  margin-top: 20px;
}

.tab__form .form__note {
  margin-top: 5px;
}

.tab__form {
  margin-top: 20px;
}

.tab__step, .form__note, .interest__item {
  font-size: 14px;
  line-height: 127%;
  /* identical to box height, or 18px */
}

.signup__tab  {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.tab-1 {
  margin-right: 80px;
}

.tab-1 .tab__step, .tab-1 .form__note {
  margin-left: 89px;
}

.tab__form {
  margin-top: 32px;
}

.tab__form .form__input {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  margin-top: 35px;
}

.tab__form .form__input:first-child {
  margin-top: 0;
}

.tab-1 .form__input:last-child {
  margin-top: 10px;
}

.tab__form .form__input label {
  font-size: 18px;
  line-height: 120%;
  /* or 22px */
}

.tab__form .form__input input, .tab__form select {
  padding: 9px 10px;
}

.tab__navigation { 
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.tab__button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  margin-right: 0;
  padding: 6px 8px 7px 12px;
}

.tab__button .keyboard_arrow_right__icon,
.tab__button .keyboard_arrow_left__icon {
  margin-top: 4px;
}

.tab-2 .form__input:nth-child(2),
.tab-2 .form__input:nth-child(3) {
  margin-top: 10px;
}

.tab__form select {
  background: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.tab__form .keyboard_arrow_down__icon {
  position: absolute;
  right: 10px;
}

.tab__button.signup__back {
  background: #ffffff;;
  color: #000000;
}

.tab__button.signup__back:hover {
  color: #5CADFF;
  transition: linear .2s;
}

.signup__tab.tab-3 {
  margin: 20px auto 0;
}

.tab-2 {
  margin-right: 180px;
}

.tab-2 .form__input {
  position: relative;
}

.tab-2 .tab__step {
  margin-left: 188px;
}

.tab-2 .tab__button, .tab-3 .tab__button {
  padding: 3px 8px 4px 12px;
}

.tab-3 .tab__step {
  margin-left: 8px;
}

.tab__title {
  font-size: 18px;
  line-height: 120%;
  /* identical to box height, or 22px */
  margin-top: 30px;
}

.tab__interests {
  width: 325px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.interest__item {
  text-align: center;
  background-color: #F2F2F2;
  border-radius: 10px;
  padding: 5px 20px;
  min-width: 115px;
  margin-top: 15px;
}

.interest__item.active {
  background-color: #5CADFF;
  color: #ffffff;
}

.interest__item:hover {
  background-color: #5CADFF;
  color: #ffffff;
  cursor: pointer;
  transition: linear .2s;
}

/* signup adaptive styles start */

@media(max-width: 768px) {
  .tab-1, .tab-2, .tab-3 {
    margin-right: 0;
  }

  .tab-1 .tab__step, .tab-1 .form__note,
  .tab-2 .tab__step {
    margin-left: 0;
  }

  .tab__form .form__input {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }

  .tab__form .form__input input, .tab__form .form__input select {
    margin-left: 0;
    margin-top: 10px;
  }

  .tab__form .keyboard_arrow_down__icon {
    bottom: 8px;
  }

  .tab-1 .form__input:last-child input {
    margin-top: 0;
  }

  .tab-3 .tab__step {
    margin-left: 0;
  }
}
@media(max-width: 400px) {
  .signup__wrapper {
    width: 90%;
  }

  .tab__form input, .tab__form select {
    min-width: 100%;
  }

  .signup__tab.tab-3 {
    margin: 20px 0 0;
  }

  .signup__tab, .tab__interests {
    width: 100%;
  }

  .interest__item {
    min-width: 86%;
  }
}

/*
  footer
*/

.footer {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 150px 0 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer::before {
  position: absolute;
  z-index: 1;
  left: -100px;
  top: 55px;
  display: block;
  content: '';
  width: 1440px;
  height: 390px;
  background-color: #5cadff;
  -moz-transform: rotate(3deg);  /* Firefox */
  -o-transform: rotate(3deg);  /* Opera */
  -webkit-transform: rotate(3deg);  /* Safari y Chrome */
}

.footer::after {
  position: absolute;
  z-index: 1;
  right: -190px;
  top: 85px;
  display: block;
  content: '';
  min-width: 2500px;
  height: 500px;
  background-color: #8c57fd;
  -moz-transform: rotate(-3deg);  /* Firefox */
  -o-transform: rotate(-3deg);  /* Opera */
  -webkit-transform: rotate(-3deg);  /* Safari y Chrome */
}

.footer__content {
  position: relative;
  z-index: 2;
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  padding-bottom: 50px;
  width: 1020px;
  margin: 0 auto;
}

.footer__item {
  position: relative;
}

.footer__info {
  display: flex;
  align-items: center;
  font-family: OpenSans-Regular, serif;
  font-size: 14px;
  line-height: 127%;
  margin-bottom: 15px;
}

.footer__info i {
  margin-right: 10px;
}

.footer__link:link, .footer__link:visited, .footer__link:hover, .footer__link:active {
  text-decoration: none;
  font-family: OpenSans-Regular, serif;
  font-size: 14px;
  color: #fff;
  display: block;
  margin-bottom: 15px;
}

.footer__item:last-child {
  text-align: right;
}

.footer__item:nth-child(2) {
  margin-left: 50px;
}

.footer__item:first-child img {
  margin-bottom: 30px;
}

.footer__item:last-child img {
  min-width: 90px;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 80px;
}

.footer__item .footer__link {
    margin-bottom: 10px;
}

.footer__annotation {
  font-family: OpenSans-Regular, serif;
  font-size: 14px;
  line-height: 127%;
}

.footer__annotation__item {
  display: block;
  text-align: right;
}

.footer__annotation__item:first-child {
  position: relative;
  padding-bottom: 10px;
  cursor: pointer;
}

.footer__annotation__item:first-child:after {
  content: "";
  position: absolute;
  top: 20px;
  right: 0;
  width: 83%;
  height: 0.5px;
  background-color: #FFFFFF;
  z-index: 1;
}

.hidden {
  display: none;
}

/* footer adaptive styles start */

@media (max-width: 1150px) {
  .footer:after, .footer:before {
    display: none;
  }

  .footer {
    padding: 70px 0 0;
  }

  .footer__content {
    width: 100%;
    padding: 40px 5% 60px;
    background-color: #8c57fd;
    flex-direction: column;
  }

  .footer__item:first-child {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .footer__item:nth-child(2) {
    width: 50%;
    padding-top: 50px;
    margin-left: 0;
  }

  .footer__item:last-child {
    width: 50%;
    margin: -240px 0 0 50%;
  }

  .footer__logo {
    margin: 20px 100px 0 0;
  }

  .footer__annotation__item:first-child::after {
    width: 315px;
  }
}
@media(max-width: 1050px) {
  .footer__item:first-child {
    display: block;
  }

  .footer__logo {
    margin: 0;
  }

  .footer__item .footer__link {
    margin-bottom: 15px;
  }
}
@media(max-width: 850px) {
  .footer__item:last-child {
    margin: -175px 0 0 50%;
  }

  .footer__annotation__item {
    font-size: 12px;
  }

  .footer__annotation__item:first-child::after {
    width: 270px;
  }

  .footer__item:last-child img {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .footer__item:nth-child(2),
  .footer__item:last-child {
    width: 100%;
  }

  .footer__item:last-child img {
    min-width: 70px;
    max-width: 70px;
  }

  .footer__item:last-child img:first-child {
    margin-left: 0;
  }

  .footer__item:last-child {
    padding-top: 50px;
    margin: 0;
    text-align: left;
  }

  .footer__annotation__item {
    text-align: left;
  }

  .footer__annotation__item:first-child::after {
    left: 0;
  }
}
@media (max-width: 550px) {

}