a.link { 
      color: #5cadff;
    font: 14px/1 OpenSans-Regular;
    align-items: center;
    cursor: pointer;
    margin-top: auto;
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   } 
   
     a.link:hover{ 
      color: #5cadff;
    font: 14px/1 OpenSans-Regular;
    align-items: center;
    cursor: pointer;

    margin-top: auto;
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   } 
   
   span.edit
   {
	         color: #fff;
    font: 14px/1 OpenSans-Regular;
    align-items: center;
	   cursor:pointer;
   }
   
   span.delete
   {
	         color: #fff;
    font: 14px/1 OpenSans-Regular;
    align-items: center;
	   cursor:pointer;
   }

   
   .main.personal-area .upcoming-events--personal-area .upcoming-events--list ul li {
    width: calc(50% - 55px);
    position: relative;
    margin-bottom: 64px;
    max-width: 286px;
    margin-right: 55px;
}
